:root {
  --color-primary: #4a154b;
  --color-secondary: #df6404;
  --color-background: #ffe1cc;
  --color-support1: #faf2f2;
}

.c1 {
  color: var(--color-primary);
}

.c2 {
  color: var(--color-secondary);
}

.content {
  padding-top: 0px; /* Adjust this based on the height of your navbar */
}

.breadcrumb {
  margin-top: 2.8em; /* Remove padding-top */
  margin-left: 0.3em;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: white;
  border-color: var(--color-secondary);
  border-width: 1px;
  color: var(--color-secondary);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.my-btn {
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.my-btn:hover {
  border-width: 1px;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn-nxt {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-nxt:hover {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-prev {
  background-color: white;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-prev:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

/* focused field styles */

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 2px var(--color-secondary);
  }
  50% {
    box-shadow: 0px 0px 4px var(--color-secondary);
  }
}

select:focus,
input:focus {
  border-color: var(--color-secondary) !important;
  outline: none;
  animation: glow 1.5s infinite alternate;
  background-color: var(--color-support1);
}

.navbar {
  z-index: 1030;
  position: relative;
}

.breadcrumb {
  position: relative;
  z-index: 1020;
}

.p-toast {
  z-index: 1050;
}


.modal-header {
background-color: var(--color-primary);
color: white;
}

.btn:hover {


color: var(--color-secondary);

transition: all 0.3s ease-in-out;
}

.modal-footer {
background-color: #f4f4f4;
}

th,
th button.btn-sort {
background-color: var(--color-primary);
color: white;
text-align: center;
align-items: baseline;
}

h2 {
color: var(--color-secondary);
}
.btn-review {
background-color: var(--color-secondary);
color: white;
}

.btn-review:hover {
background-color: white;
border-width: 1px;
border-color: var(--color-secondary);
color: var(--color-secondary);

scale: 1;
}
.table {
text-align: center;
}

.btn-nxt {
background-color: white;
border-color: var(--color-secondary);
color: var(--color-secondary);
}
.btn-nxt:hover{
background-color: var(--color-secondary);
color: white;
}

.btn-pageno {
background-color: white;
border-color: var(--color-secondary);
color: var(--color-secondary);
}

.btn-nxt:disabled {
background-color: white;
border-color: var(--color-secondary);
color: var(--color-secondary);
opacity: 0.6;
}
.btn-prev {
background-color: white;
border-color: var(--color-primary);
color: var(--color-primary);
}

.btn-prev:hover {
background-color: var(--color-primary);
border-color: var(--color-primary);
color: white;
}
.btn-nxtpage {
border-color: var(--color-primary);
color: var(--color-primary);
}
.btn-nxtpage:hover {
background-color: var(--color-primary);
border-color: var(--color-primary);
color: white;
}


/* /////////////////////////////////////////////////// */
.modal-header {
  background-color: var(--color-primary);
  color: white;
}

.btn:hover {
 
 
  color: var(--color-secondary);
  
  transition: all 0.3s ease-in-out;
}

.modal-footer {
  background-color: #f4f4f4;
}

th,
th button.btn-sort {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  align-items: baseline;
}

h2 {
  color: var(--color-secondary);
}
.btn-review {
  background-color: var(--color-secondary);
  color: white;
}

.btn-review:hover {
  background-color: white;
  border-width: 1px;
  border-color: var(--color-secondary);
  color: var(--color-secondary);

  scale: 1;
}
.table {
  text-align: center;
}

.btn-nxt {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
.btn-nxt:hover{
  background-color: var(--color-secondary);
  color: white;
}

.btn-pageno {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-nxt:disabled {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  opacity: 0.6;
}
.btn-prev {
  background-color: white;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-prev:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
.btn-nxtpage {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-nxtpage:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
