/* your-component.component.css */

:root {
  --color-primary: #4a154b;
  --color-secondary: #df6404;
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-bg-light: #f9f9f9;
  --color-bg-dark: #343a40;
}

.container-fluid {
  background-color: var(--color-bg-light);
  padding: 2rem;
  border-radius: 8px;
}

.content-container {
  background-color: var(--color-bg-light);
  padding: 2rem;
  border-radius: 8px;
}
h2 {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--color-primary);
}

.result-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.result-card {
  padding: 2rem;
  margin: 1rem;
}

.card-content {
  margin-top: 0.5rem;
}

.success-message {
  background-color: var(--color-success);
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.error-message {
  background-color: var(--color-error);
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.info-message {
  background-color: #17a2b8;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
}
