

/* *********** */


.auth-main {
  position: relative;
}

.auth-main .auth-wrapper {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.auth-main .auth-wrapper.v3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-main .auth-wrapper.v3 .auth-form {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-main .auth-wrapper .auth-form .card {
  width: 100%;
  max-width: 495px;
  box-shadow: none;
}

.my-btn {
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.my-btn:hover {
  border-width: 1px;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn-nxt {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
}

.btn-nxt:hover {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-prev {
  
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

.btn-prev:hover {
  background-color: white;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.c1 {
  color: var(--color-primary);
}
.c2 {
  color: var(--color-secondary);
}

.c2:hover {
  color: var(--color-primary);
  font-weight: bold;

  transition: all 0.3s ease-in-out;
}
.card {
  background-color: white;
  border-color:var(--color-secondary) ;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-primary);
  padding: 16px;
  margin: 16px;
  transition: box-shadow 0.3s ease-in-out;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.illustration {
  max-width: 80%;
}

@media (max-width: 767.9px) {
  .illustration {
    display: none;
  }
}
@media (min-width: 768px) {
  /* Hover animation */


  .hover-animate:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px var(--color-primary);
    transition: all 0.3s ease-in-out;
  }
}
